@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Retro Theme */
  --color-retro-cream: #FFFDF5;
  --color-retro-red: #D64045;
  /* Vintage Rose */
  --color-retro-black: #2D2A26;
  --color-retro-pink: #FFC2D1;
  --font-retro-serif: var(--font-playfair);
  --font-retro-sans: var(--font-fredoka);
  --shadow-retro: 5px 5px 0px 0px #2D2A26;
}

:root {
  --background: #FFFDF5;
  /* Cream default */
  --foreground: #2D2A26;
  /* Warm Black default */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF5;
    /* Force Cream even in dark mode */
    --foreground: #2D2A26;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-retro-sans);
}

/* Hide Next.js Dev Indicator */
[data-nextjs-toast] {
  display: none !important;
}

[data-nextjs-dialog-overlay] {
  display: none !important;
}

nextjs-portal {
  display: none !important;
}